<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
  <h1> semantic HTML </h1> 


  <header>
    <h2>Your life will change!</h2>
  </header>

  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
  </nav>

  <main>
    <p>this is the main content of the page baby!</p>
  </main>

  <section>
    <h2>About me</h2>
    <p>I am learning programming mah boy!</p>
  </section>

  <aside>
    <p>Related links</p>
  </aside>


  <footer>
    <p>@ 2026</p>
  </footer>
</body>
</html>